@model DMCoreV2.Areas.Admin.ViewModels.UserIndex

<h1>Users</h1>

<div class="btn-toolbar">
    <a asp-action="NewUser" asp-route-returnurl="@ViewData["ReturnUrl"]" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i> Create User</a>
</div>

<div class="row">
    <div class="col-md-12">
        <section>
            <form asp-controller="User" asp-route-returnurl="/admin/index" method="post" class="form-horizontal">
                <div asp-validation-summary="All" class="text-danger"></div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Email Confirmed</th>
                            <th>Roles</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr>
                                <td>@user.Id</td>
                                <td>@user.Email</td>
                                <td>@user.EmailConfirmed</td>
                                <td>{todo}</td>
                                <td>
                                    <div class="bt-group">
                                        <a href="@Url.Action("EditUser",new { user.Id })" class="btn bth-xs btn-primary"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                                        <a href="@Url.Action("ResetPassword",new { user.Id })" class="btn bth-xs btn-default"><i class="glyphicon glyphicon-lock"></i> Reset Password</a>
                                        <a href="@Url.Action("DeleteUser",new { user.Id })" class="btn bth-xs btn-danger" data-post="Are you sure you want to delete @user.UserName?"><i class="glyphicon glyphicon-remove"></i> Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        </section>
    </div>
</div>